# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.env

# Data
data/

# Models
models/*.pt
models/*.pkl
models/*.bin

# MLflow
mlflow.db
mlruns/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
